/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .product_specific_email_paragraph_editor {
    margin: 10px;
 }

 #woocommerce-product-data ul.wc-tabs li.product_specific_email_paragraphs_tab a::before {
   font-family: Dashicons;
   content: "\f465"
}
